#main-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    border: 1px solid lightgray;
    width: 550px;
    height: 850px;
    padding: 32px;
    border-radius: 20px;
    gap: 64px;
}



#display {
    border: 1px solid black;
    border-radius: 15px;
    height: 120px;
    margin: 32px 12px;
}